.posts {
  margin: 20px auto;
  .post:first-child {
    margin-top: 0;
  }
}
.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 0px #ddd;
  border-radius: 4px;
  .post-title {
    font-size: 1.5em;
  }
  .post-title-link {
    color: #368CCB;
  }
  .post-content {
    a {
      color: #368CCB;
    }
    code {
      font-family: "Consolas", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei";
      padding: 4px 6px;
      background: #EEEEEE;
      color: #D84315 !important;
      word-wrap: break-word;
    }
  }
  .post-meta {
    color: #BABABA;
  }
}